.header__logo {
    margin-left: 27px;
    background-image: url(../../../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 104px;
    height: 25px;
}

@media screen and (min-width: 880px) {
    .header__logo {
        margin-left: 0;
        background-image: url(../../../images/logoXL.png);
        width: 142px;
        height: 43px;
    }
}